# Copy this file only if you need to override defaults:
#   cp .env.rollup.example .env.rollup
#   docker compose --env-file .env.rollup -f compose.rollup.yaml up -d

ZEKO_ROLLUP_NAME=betternet
ZEKO_IMAGE_TAG=latest
ZEKO_DA_IMAGE_TAG=latest
ZEKO_SIGNATURE_KIND=testnet
ZEKO_NETWORK_ID=testnet

ZEKO_L1_URI=https://gateway.mina.devnet.zeko.io
ZEKO_ARCHIVE_URI=https://gateway.mina.archive.devnet.zeko.io

ROLLUP_SEQUENCER_PORT=1923
ROLLUP_DA_LAYER_PORT=1924
ROLLUP_SEQUENCER_SIGNER_PORT=9000
ROLLUP_DA_SIGNER_PORT=9001
ROLLUP_POSTGRES_PORT=5432
ROLLUP_RABBITMQ_PORT=5672

ROLLUP_DA_QUORUM=1
ROLLUP_MAX_POOL_SIZE=10
ROLLUP_COMMITMENT_PERIOD=300
ROLLUP_FEE_MODIFIER=0.1
ROLLUP_SIGNER_MAX_FEE=1
ROLLUP_SIGNER_MAX_BALANCE_CHANGE=0
ROLLUP_ACCOUNT_CREATION_FEE=1
